@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Library.Models
@model Student

<!doctype html>
<html>
<head>
    <title>Student Detail</title>
</head>
<body>
    <h1>Detail of student @Model.StudentId</h1>
    <table style="border: solid 1px #000">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>@Model.StudentId</td>
            <td>@Model.StudentName</td>
            <td>@Model.Address</td>
            <td>@Model.Status</td>
        </tr>
    </table>
</body>
</html>
