@model Data_Access.News

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
          @using (Html.BeginForm("Edit", "News", FormMethod.Post)){
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CatetoryID" class="control-label"></label>
                @Html.DropDownListFor( m=>m.CatetoryID, new SelectList(ViewBag.Categories,"CatetoryID","Name"))
                <span asp-validation-for="CatetoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titles" class="control-label"></label>
                @Html.TextBoxFor(m => m.Titles, new { @class = "form-control", @autofocus="autofocus"})
                <span asp-validation-for="Titles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @autofocus="autofocus"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                @Html.TextBoxFor(m => m.DateUpdate, new { @class = "form-control", @autofocus="autofocus",Type="Date"})
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @Html.DropDownListFor( m=>m.UserId, new SelectList(ViewBag.Users,"UserId","UserName"))
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

